*{
    padding:0;
    margin:0;
}

#main-page{
    background-image:url(https://picsum.photos/id/500/700);
    height:100vh;
    width: 100vw;
    background-size: cover;
}

#bg1{
    background-color:blue;
}

#bg2{
    background-color: cornflowerblue;
}

iframe{
    margin: 0 auto;
    height: 50%;
    width: 50vw;
}