
html { 
 	background: url(gifs/movingstar.gif) no-repeat center center fixed; 
  	-webkit-background-size: cover; q
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

@font-face{
	font-family: comicsans;
	src: url(ComicSans/ComicSansMS/comicsansms.ttf);
}

a{
	cursor: url(gifs/arrows/twinkle.gif), auto;
}

#goback{
	position: fixed;
	bottom: 10px
}

.pics{
	width:40%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	position: relative;

}

.padding{
	padding-bottom: 50px;
}

h1{
	font-family: comicsans;
	color: orange;
	text-align: center;
	padding-bottom: 50px;
}

h3{
	font-family: comicsans;
	color: rgb(110, 67, 176);
	text-align: center;
}
