img{
    max-width: 50%;
    padding: 3rem;
    background-image:radial-gradient(rgba(127, 255, 0, .6),rgba(127, 255, 0, 0)) ;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: honeydew;
    font-family: monospace;
}

h1{
    color: darkmagenta;
   
}

h2{
    color: black;
}