@font-face {
    font-family:comicsans;
    src: url(../font/comicsans.ttf);
}

@font-face {
    font-family:matrix;
    src: url(../font/matrix.ttf);
}

*{
    cursor: url(../cursors/N64.cur), auto;
}

h1{
    text-align: center;
    font-family:matrix;
    text-shadow: orangered 1px 1px 1px;
}

h2{
    font-family:monospace;
    text-align: center;
    font-weight: lighter;
    font-size: 1.3rem;
}
body{
    background-color: rgba(250, 248, 245, 0.9);
}

a{
    text-decoration: none;
    color: orangered;
}

a:hover{
    transition: .2s;
    color: darkseagreen;
}

.block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.block-item{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
} 

.block .media{
    width: 70vw;
}