*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    cursor: url(../cursors/cellular.cur), auto;
}

:root{
    --color1: rgb(39, 242, 66);
}

@font-face {
    font-family:vhs;
    src: url(../font/vhs.ttf);
}
@font-face {
    font-family:matrix;
    src: url(../font/matrix.ttf);
}
@font-face {
    font-family:comicsans;
    src: url(../font/comicsans.ttf);
}
@font-face {
    font-family: scholar;
    src: url(../font/scholar.otf);
}

@keyframes yarp {
    0%{
        color: mediumturquoise;
    }
    30%{
       color: plum;
    }
    60%{
        color: maroon;
    }
    100%{
        color: mediumturquoise;
    }
}

body{
    background-image: url(../gifs/sparklecloud.gif);
}
.fill{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    background-image: url(../gifs/sparkly7.gif);
    opacity: .15;
}

h1{
    font-family: cursive;
    color: hotpink;
}
header{

}

main{
   display: flex;
    width: 100vw;
    height: calc(100vh - 1.5rem);
    justify-content: center;
    align-items: center;

}

.content{
    /* iframe element */
    width: 100%;
    height:80vmin;
    max-width: 60rem;

    margin: 2rem;

}

.folder-container{
    /* nav element */
}

.folder-nav{
    /* ul element */
    width: max-content;
    height: max-content;

}

.folder{
    /* list element */
    text-align: center;
    
}

.folder h3{
    line-height: 2rem;
    font-family:scholar;
    text-decoration:none;
    /* color: var(--color1); */
}

.folder a{
    color:rgb(0, 212, 255) ;
    text-shadow: maroon 1px 1px 2px;
}
.folder a:hover{
    color: maroon;
    transition: .3s;
}

/* .folder :visited{
    text-decoration:none;
    color: inherit;
} */

.folder img{
    width: 4rem;
}

.top-nav{
    font-family: scholar;
    font-size: 1rem;
    width:100vw;
    height: 1.5rem;
    /* display: flex;
    justify-content: left;
    align-items: center; */
    position: relative;
    background-image: linear-gradient(rgb(0, 212, 255), rgba(80, 156, 242, .7), rgba(79, 38, 224, .5));    
}

.yarp h3{
    animation-name: yarp;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}

.menu a{
    color:lavenderblush;
}

.menu a:hover{
    color:maroon ;
    transition: .3s;
}
.menu a:active{
    color:maroon ;
    transition: .3s;
}

.menu{
    width: 50%;
    display: inline-flex;
    justify-content: flex-start;
}

.icons{
    position: absolute;
    width: 50%;
    display: inline-flex;
    justify-content: flex-end;
}
.icon{
    width: max-content;
    padding: 0 1rem;

} 

.icons img:hover{
    transform: scale(1.1);
     transition: .5s;
 }
 .icons img:active{
     transform: scale(1.1);
     transition: .5s;
  }
.small, .lower{
    display: none;
}
.im{
    width: 3.5rem;
}

iframe{
    border-radius: 8px 8px 8px 8px;
}

.end{
    font-family: monospace;
    background-color: rgba(255, 255, 255, .4);
    max-width: 100vw;
    padding: 3px ;
    position: absolute;
    bottom: 0;
}



.blank{
    background-color: pink;
    height:500px;
}



@media only screen and (max-width: 768px) {

    main{
        display: flex;
        flex-direction: column;
        width: 97vw;
        height: calc(100vh - 3rem);
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;

    }
    
    .content{
        /* iframe element */
        width: 95%;
        height: 75vmax;
        max-width: 60rem;    
    }
    
    .folder-container{
        /* nav element */
        display: flex;
        align-items: center;
        justify-content: center;
        
    } 
    
    .folder-nav{
        /* ul element */
        width: max-content;
        height: max-content;    
    }

    .folder{
        padding: 3%;
    }

    .folder img{
        width: 8vmin;
        min-width: 2rem;
    }

    .folder h3{
        font-size: 1rem;
    }
    .trash{
        transform: scale(90%);
    }


}

@media only screen and (max-width: 600px) {

    .icons{
        display: none;
    }
    .menu{
        width: max-content;
    }
    .top-nav{
        width: 99vw;
        display: flex;
        justify-content: center;
    }
 
    .icon{
        /* width: max-content; */
        padding: 0 .5rem;
    } 

    .lower{
        /* bottom: 0px; */
        width: 97vw;
        display: flex;
        position: relative;
        justify-content: center;
        align-items:flex-end;
        
    }
    .small{

        /* height: max-content; */
        display: flex;
        
    }
    .im{
        display: none;
    }
    .end{
        position: relative;
        /* bottom: 0; */
    }
    .content{
        padding: 0;
        margin: 0;
    }
    main{
        /* margin: 0; */
        height: max-content;
    }

    footer{
        position: relative;
        padding: 0;
        margin: 0;
    }

    /* .background{
        height: 100%;
    } */
}