@font-face {
    font-family: vhs;
    src: url(../font/vhs.ttf);
}

*{
    cursor: url(../cursors/Mouse.cur), auto ;
}

h1{
    font-family:vhs;
    text-shadow: hotpink 1px 1px 1px;
}

h2{
    font-family:monospace;
    text-align: center;
    font-weight: lighter;
    font-size: 1.3rem;
}

h3{
    padding-top:1rem;
    margin: 0 auto;
    font-family:monospace;
    /* text-align: ; */
    font-weight: lighter;
    max-width: 34rem;
}
h4{
    padding-top:.5rem;
    margin: 0 auto;
    font-family:monospace;
    /* text-align: ; */
    font-weight: lighter;
    max-width: 34rem;
    color: darkorchid;
}

body{
    background-color: rgba(245, 250, 247, 0.9);
}

a{ 
    text-decoration: none;
    color: hotpink;
}

a:hover{
    transition: .2s;
    color: darkorchid;
}

span{
    padding-left: 2rem;
}

.block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.block-item{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
} 
.block-item2{
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
} 
.block-item3{
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
} 


.block .media{
    width: 70vw;
} 
.block .med{
    width: 50vw;
} 

.block .smaller{
    width: 35vw; 
} 

.block .larger{
    width: 90vw;
} 

.block-item3, img{
    padding: .3rem;
}

@media only screen and (max-width: 550px) {

    .block-item3{
        flex-direction: column;
    }
}
