*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    cursor: url(../cursors/Mouse.cur),auto ;
}

:root{
    --color1: rgb(39, 242, 66);
}

@keyframes yarp {
    0%{
        color: hotpink;
    }
    25%{
        color: mediumpurple;
    }
    75%{
        color: navy;
    }
    100%{
        color: hotpink;
    }
}
 

@font-face {
    font-family:vhs;
    src: url(../font/vhs.ttf);
}
@font-face {
    font-family:matrix;
    src: url(../font/matrix.ttf);
}
@font-face {
    font-family:comicsans;
    src: url(../font/comicsans.ttf);
}

body{
   
    background-image: url(../gifs/blueglitter.gif);
    background-size: contain;
}

h1{
    font-family: cursive;
    color: hotpink;
}
header{

}

iframe{
    border-radius: 8px 8px 8px 8px;
}

main{
   display: flex;
    width: 100vw;
    height: calc(100vh - 1.5rem);
    justify-content: center;
    align-items: center;

}

.content{
    /* iframe element */
    width: 100%;
    height:80vmin;
    max-width: 60rem;

    margin: 2rem;

}

.yarp h3{
    animation: yarp 5s infinite;
}

.folder-container{
    /* nav element */
}

.folder-nav{
    /* ul element */
    width: max-content;
    height: max-content;

}

.folder{
    /* list element */
    text-align: center;
    color: lightpink ;
    text-shadow: navy 1px 1px 1px;
    
}

.folder h3{
    font-family:vhs;
    text-decoration:none;
    /* color: var(--color1); */
}

.folder a:visited{
    text-decoration:none;
    color: inherit;
} 

.folder a:hover{
    color: navy;
    transition:0.3s;
    /* hello */
}
.folder a:active{
    color: navy;
    transition:0.3s;
    /* hello */
}

.folder img{
    width: 4rem;
}

.top-nav{
    font-size: 1.1rem;
    width:100vw;
    height: 1.5rem;
    font-family: vhs;
    
    /* display: flex;
    justify-content: left;
    align-items: center; */
    position: relative;
    background-image: linear-gradient(rgb(255, 189, 228),rgba(243, 56, 168, 0.623), rgba(192, 161, 201, 1));

}

.top-nav a{
    color: rgb(194, 245, 66);
}
.top-nav a:visited{
    color: rgb(194, 245, 66);
}

.top-nav a:hover{
    color:navy;
    transition: .2s;
}
.top-nav a:active{
    color:navy;
    transition: .2s;
}

.menu{
    width: 50%;
    display: inline-flex;
    justify-content: flex-start;
}

.icons{
    position: absolute;
    width: 50%;
    display: inline-flex;
    justify-content: flex-end;
}
.icon{
    width: max-content;
    padding: 0 1rem;
} 

.icons img:hover{
   transform: scale(1.1);
    transition: .5s;
}
.icons img:active{
    transform: scale(1.1);
    transition: .5s;
 }

.small, .lower{
    display: none;
}
.im{
    width: 3.5rem;
}







.blank{
    background-color: pink;
    height:500px;
}






@media only screen and (max-width: 768px) {

    main{
        display: flex;
        flex-direction: column;
        width: 97vw;
        height: calc(100vh - 3rem);
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;

    }
    
    .content{
        /* iframe element */
        width: 95%;
        height: 75vmax;
        max-width: 60rem;    
    }
    
    .folder-container{
        /* nav element */
        display: flex;
        align-items: center;
        justify-content: center;
        
    } 
    
    .folder-nav{
        /* ul element */
        width: max-content;
        height: max-content;    
    }

    .folder{
        padding: 3%;
    }

    .folder img{
        width: 8vmin;
        min-width: 2rem;
    }

    .folder h3{
        font-size: 1rem;
    }
    .trash{
        transform: scale(90%);
    }



}

@media only screen and (max-width: 600px) {
    .icons{
        display: none;
    }
    .menu{
        width: max-content;
    }
    .top-nav{
        width: 99vw;
        display: flex;
        justify-content: center;
    }
 
    .icon{
        width: max-content;
        padding: 0 .5rem;

    } 
  
    .lower{
        bottom: 1rem;
        width: 97vw;
        height: 2rem;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items:center;
        
    }
    .small{
        height: max-content;
        display: flex;
        
    }
    .im{
        display: none;
    }
}