*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

}

:root{
    --color1: rgb(39, 242, 66);
}

@font-face {
    font-family:vhs;
    src: url(font/vhs.ttf);
}
@font-face {
    font-family:matrix;
    src: url(font/matrix.ttf);
}
@font-face {
    font-family:comicsans;
    src: url(font/comicsans.ttf);
}

h1{
    font-family: cursive;
    color: hotpink;
}

main{
    display: flex;
    width: 100vw;
    height:100vh;
    justify-content: center;
    align-items: center;


    border: lime 3px solid;
}

.content{
    /* iframe element */
    width: 100%;
    height:80vmin;
    max-width: 60rem;

    margin: 2rem;
    border: lightblue 3px solid;

}

.folder-container{
    /* nav element */
}

.folder-nav{
    /* ul element */
    width: max-content;
    height: max-content;



    border: blue 3px solid;

}

.folder{
    /* list element */
    text-align: center;
    
}

.folder h3{
    font-family:comicsans;
    text-decoration:none;
    /* color: var(--color1); */
}

/* .folder :visited{
    text-decoration:none;
    color: inherit;
} */

.folder img{
    width: 4rem;
}













.blank{
    background-color: pink;
    height:500px;
}


@media only screen and (max-width: 768px) {

    main{
        display: flex;
        flex-direction: column;
        width: 97vw;
        height:100vh;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .content{
        /* iframe element */
        width: 95%;
        height:80vmin;
        max-width: 60rem;    
    }
    
    .folder-container{
        /* nav element */
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .folder-nav{
        /* ul element */
        width: max-content;
        height: max-content;    
    }

    .folder{
        padding: 1rem;
    }

    .folder img{
        width: 10vmin;
    }

    .folder h3{
        
    }
    
}